}
table{
    table-layout: fixed;
    width: 250px;
}

th, td {
    border: 1px solid blue;
    width: 200px;
    word-wrap: break-word;
}

table,td, th {
	border: 2px solid black;
}

table    {
	background: #43C6AC;  
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
background: linear-gradient(to right, #F8FFAE, #43C6AC);

}
body {
  background-color: #F9FD7A;
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
 .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #119C87;
    border-radius: 13px;
    border: 2px solid #119C87;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
